<div class="sidenav" [ngClass]="{'expanded': !isCollapsed}">
    
    <div class="sidenav-header">
      <h2>پنل مدیریت</h2>
    </div>
    <div class="sidenav-content">
      <ul>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active">
            <mat-icon>dashboard</mat-icon>
            <span>داشبورد</span>
          </a>
        </li>
        
        <!-- Users with submenu -->
        <li>
          <a class="nav-link-toggle" (click)="toggleSubmenu('users')" [class.active]="openedSubmenu === 'users'">
            <mat-icon>people</mat-icon>
            <span>کاربران</span>
            <mat-icon class="menu-arrow" *ngIf="!isCollapsed">{{ openedSubmenu === 'users' ? 'expand_less' : 'expand_more'}}</mat-icon>
          </a>
          <ul class="submenu" *ngIf="openedSubmenu === 'users'">
            <li>
              <a routerLink="/users/list" routerLinkActive="active">
                <mat-icon>list</mat-icon>
                <span>لیست کاربران</span>
              </a>
            </li>
            <li>
              <a routerLink="/users/add" routerLinkActive="active">
                <mat-icon>person_add</mat-icon>
                <span>افزودن کاربر</span>
              </a>
            </li>
          </ul>
        </li>
        
        <!-- Settings with submenu -->
        <li>
          <a class="nav-link-toggle" (click)="toggleSubmenu('settings')" [class.active]="openedSubmenu === 'settings'">
            <mat-icon>settings</mat-icon>
            <span>تنظیمات</span>
            <mat-icon class="menu-arrow" *ngIf="!isCollapsed">{{ openedSubmenu === 'settings' ? 'expand_less' : 'expand_more'}}</mat-icon>
          </a>
          <ul class="submenu" *ngIf="openedSubmenu === 'settings'">
            <li>
              <a routerLink="/settings/general" routerLinkActive="active">
                <mat-icon>tune</mat-icon>
                <span>تنظیمات عمومی</span>
              </a>
            </li>
            <li>
              <a routerLink="/settings/profile" routerLinkActive="active">
                <mat-icon>account_circle</mat-icon>
                <span>پروفایل</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="sidenav-footer">
      <div class="user-info">
        <div class="avatar">A</div>
        <span>مدیر سیستم</span>
      </div>
      <button class="logout-btn">
        <mat-icon>logout</mat-icon>
        <span>خروج</span>
      </button>
    </div>
</div>
  